@import "bootstrap";
@import "bootstrap-icons";

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.bg-color-boolcore {
  background-color: #0b121f;
  /* background-image: url(../img/bg-home.jpg); */
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;

  opacity: 0.9;
  min-height: 100vh;
}

.bg-img-fissi {
  padding-top: 10px;
  background-color: #0b121f;
  background-image: url("/img/tech-fissi.jpg");
}

.card-top-fissi {
  background-color: rgba(73, 87, 94, 0.5);
  border-radius: 10px;
}
.card-body-fissi {
  background-color: rgba(73, 87, 94, 0.9);
}

.bg-color-jumbo {
  background-color: rgba(32, 48, 0, 0.3);
  border: solid 1px rgb(97, 138, 97);
}

.acid-text {
  color: #9fef00;
}

.gray-text {
  color: #a4b1cd;
}

.card-jumbo {
  background-color: rgba(17, 27, 47, 0.8);
  border: solid 1px rgb(97, 138, 97);
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 16px;
  align-items: center;
}

.card-jumbo .card-body {
  flex-grow: 1;
}

.jumbotron-wrapper {
  min-height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.jumbotron-hero-bg img,
.jumbotron-hero-bg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  pointer-events: none;
}
.jumbotron {
  position: relative;
  z-index: 1;
  width: 550px;
  margin: 0 auto;
}
.jumbotron p {
  font-size: 20px;
}

.led-border {
  border: 2px solid #ff5100;
  border-radius: 8px;
}

.bg-color-footer {
  background-color: #212529;
}

.card-img-top {
  height: 250px;
  object-fit: contain;
  display: block;
  padding: 16px;
}

.img-car {
  height: 400px;
  width: 100%;
  object-fit: contain;
}

.view-toggle {
  padding: 10px 0;
  margin-bottom: 20px;
}

.decoration-no {
  list-style: none;

  padding: 5px;
}

.thumb {
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
}

.product-img-fixed {
  height: 200px;
  width: 100%;
  object-fit: contain;
}

.img-list {
  height: 200px;
  width: 250px;
  object-fit: contain;
}

.img-rounded-frame {
  margin-top: 15px;
  display: inline-block;
  background-color: white;
  border: solid 2px white;
  border-radius: 16px;
  padding: 10px;

  margin: 0 10px;
}

.img-rounded-frame > img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  display: block;
  border-radius: 0;
}
