@import "bootstrap";
@import "bootstrap-icons";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-color-boolcore {
  padding-top: 10px;
  background-color: #0b121f;
  background-image: url(../img/bg-home.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-blend-mode: lighten;
  opacity: 0.9;
  min-height: 100vh;
}

.bg-color-jumbo {
  background-color: rgba(32, 48, 0, 0.9);
  border: solid 1px rgb(97, 138, 97);
}

.acid-text {
  color: #9fef00;
}

.gray-text {
  color: #a4b1cd;
}

.card-jumbo {
  background-color: rgba(17, 27, 47, 0.8);
  border: solid 1px rgb(97, 138, 97);
}

.card-jumbo p {
  font-size: 18px;
}

.jumbotron p {
  font-size: 20px;
}

.bg-color-footer {
  background-color: #212529;
}

.card-img-top {
  height: 250px;
  object-fit: contain;
}

.img-car {
  height: 400px;
  width: 100%;
  object-fit: contain;
}

.view-toggle {
  padding: 10px 0;
  margin-bottom: 20px;
}

.thumb {
  width: 80px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
}